.cards {
    margin-top: 10%;
    padding: 0 10%;
}

.cards__content {
    height: 30vh;
    padding: 5%;
    margin-top: 5%;
    background-color: var(--magenta);
    color: var(--white);
    font-weight: 400;
    font-size: 0.7rem;
    border-radius: 10px;
}

.cards__header {
    display: flex;
    align-items: center;
}

.cards__image {
    border-radius: 100%;
    width: 15%;
}

.cards__descriptions {
    margin-left: 2%;
}

.cards__subtitle {
    color: var(--pink);
    font-weight: 400;
}

@media screen and (min-width: 768px) {

    .cards {
        max-height: 40vh;
        height: 100vh;
    }

    .cards__content {
        font-size: 1rem;
        line-height: 2rem;
        height: 40vh;
    }
}

@media screen and (min-width: 1024px) {
    .cards {
        display: flex;
        margin-top: 4%;
        padding: 0 6%;
    }

    .cards__content {
        font-size: 0.9rem;
        line-height: 1.5rem;
        height: 29vh;
        padding: 2%;
        margin-right: 2%;
        border-radius: 8px;
    }

    .card2 {
        margin-top: 7%;
    }

    .card3 {
        margin-top: 10%;
    }
}