.header {
    margin-top: 18%;
    text-align: center;
}

.header__title, .header__text {
    color: var(--magenta);
    font-weight: 700;
}

.header__description {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--magenta);
    padding: 2%;
}

.header__starts-icons {
    padding: 0 7%;
}

.header__starts {
    display: flex;
    flex-direction: column;
    background-color: var(--light-magenta);
    margin-top: 5%;
    border-radius: 10px;
    height: 10vh;
    padding: 2%;
}

.header__starts figure, h5 {
    margin: 1%;
}

.header__starts img {
    width: 8%;
}

@media screen and (min-width: 768px) {
    .header {
        margin-top: 10%;
    }

    .header__title {
        font-size: 2.5rem;
    }

    .header__description {
        font-size: 1rem;
    }

    .header__starts-icons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header__starts {
        width: 70%;
    }

    .header__starts img {
        width: 3%;
    }
}