body, html {
    padding: 0;
    margin: 0;
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}